body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
}

#country {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 20px;
}

#countries-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 20px;
}

.country {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    cursor: pointer;
    width: calc(30% - 20px);
    box-sizing: border-box;
    transition: all 0.3s ease;
}

.country:hover {
    background-color: #f0f0f0;
}

.country img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}

#country-details {
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

#country-details img {
    width: 100px;
    height: auto;
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
}


